/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* Variáveis de cores */
:root {
    --body1: #DCDCDC;
    --body2: #B2BEBF;
    --body3: #D3D3D3;
    --body4: #C0C0C0;
    --section: #FFFAFA;
    --container: #FDFAE0;
}

body {
    padding: 170px 20px 20px 20px;
    background: var(--body1);
    overflow-x: hidden;
}

.header-barber {
    background-color: var(--section);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.253);
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: "Montserrat", sans-serif;
    transition: height 0.3s ease, background-color 0.3s ease;
}

.header-barber.expand {
    height: 280px;
    background-color: #121212; 
}

.navbar {
    padding: 0;
    height: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    margin-left: 15px;
}

.navbar-nav .nav-link {
    color: #8B2635;
    margin: 0 15px;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

#message {
    text-align: center;
}

.container {
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mt-5 {
    display: flex;
    justify-content: center;
}

#booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3 {
    width: 350px;
}

.mb-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fixed {
    height: 600px;
    margin-top: 50px;
    overflow: hidden;
}

.p1 {
    background-color: var(--section);
    border-radius: 8px;
    padding: 50px 20px;
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-apresent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8B5E3C;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
    animation: slideIn 0.8s ease-out forwards;
}

.text-apresent h1 {
    font-size: 2.5rem;
    color: #8B2635;
    /* text-shadow: 2px 2px 5px rgb(0, 0, 0); */
}

.text-apresent h2 {
    font-size: 1.8rem;
    color: #8B5E3C;
    /* text-shadow: 1px 1px 3px rgb(0, 0, 0); */
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}

.img-content {
    flex: 1;
}

.img-content img {
    width: 100%;
    height: 650px;
    border-radius: 8px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.212);
}

.text-content {
    flex: 1;
    text-align: center;
}

.text-content p {
    font-size: 1rem;
    color: #8B5E3C;
    font-weight: bold;
    margin: 0;
    font-family: "Lato", sans-serif;

}

.content-wrapper,
.content-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.content .text-content,
.text-reverse {
  background: #E3E7EB;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.content-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    font-family: "Lato", sans-serif;
}

.reverse-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    width: 100%;
}

.text-reverse {
    flex: 1;
    text-align: center;
    color: #8B5E3C;
}

.img-reverse {
    flex: 1;
}

.img-reverse img {
    width: 100%;
    height: 650px;
    border-radius: 8px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.212);
}

.galery {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--section);
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.text-galery h3 {
    color: #8B5E3C;
    font-size: 2.8em;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-gallery img {
    width: 500px;
    height: 450px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
    max-height: 80vh;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


article {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#sheduling-content .container{
    background: #FFFFFF;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#sheduling-content h1 {
    color: #8B2635;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.container label option {
    color: #121212;
}
  
form {
    background: #E3E7EB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #5A5A5A;
    font-weight: 600;
}

.form-control, .form-select {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
  
.btn-primary {
    background: #8B2635;
    border: none;
}
  
.btn-primary:hover {
    background: #a53043;
}
  
.btn-danger {
    background: #d9534f;
    border: none;
}
  
.btn-danger:hover {
    background: #c9302c;
}

@media (max-width: 768px) {
    .col-md-6 {
      width: 100%;
      margin-bottom: 20px;
    }
}
  

h1.mt-5 {
    font-size: 2em;
    margin-bottom: 25px;
}

#label-professional {
    margin-top: 15px;
}

/* Footer */
.footer {
    background-color: #222222;
    color: #FFFFFF;
    padding: 20px 0;
    border-radius: 8px 0;
    margin-top: 80px; 
    font-family: "Montserrat", sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
    gap: 40px; 
}

.text1-footer,
.text2-footer {
    text-align: center;
    width: 100%; 
}

.footer-content p {
    cursor: pointer;
}

.footer-content p .bi-instagram:hover {
    color: #E1306C;
    cursor: pointer;
}

.footer-content p .bi-facebook:hover {
    color: #1877F2;
    cursor: pointer;
}

.footer-content p .bi-whatsapp:hover {
    color: #25D366;
    cursor: pointer;
}

.footer-content p .bi-geo-alt:hover {
    color: #FFA500;
}

.text1-footer h3,
.text2-footer h3 {
    margin-bottom: 10px;
}

.text1-footer p,
.text2-footer p {
    margin: 5px 0;
}


/* Media Queries */
@media (max-width: 320px) {
    
    .header-barber {
        height: 280px;
    }

    /* .frase h1 {
        font-size: 2em;
    } */

    .text-content h2 {
        font-size: 0.8rem;
    }

    .img-content img,
    .img-reverse img {
        width: 300px;
        height: 270px;
    }

    .image-gallery img {
        width: 300px;
        height: 270px;
    }

    .carousel .text-galery h3 {
        font-size: 1.8em;
    }

    .mb-5 {
        font-size: 10px;
    }

    .form-label {
        font-size: 8px;
    }

    /* article {
        display: flex; 
        justify-content: center;
        flex-direction: column;

    } */
}

/* Para celulares médios */
@media (max-width: 480px) {
    
    .header-barber {
        height: 260px;
    }

    /* .frase h1 {
        font-size: 3em;
    } */

    .text-content h2 {
        font-size: 1rem;
    }

    .img-content img,
    .img-reverse img {
        width: 400px;
        height: 360px;
    }

    .image-gallery img {
        width: 400px;
        height: 360px;
    }

    .carousel .text-galery h3 {
        font-size: 2em;
    }

    article {
        padding: 5px;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 15px;
    }

    #booking-form,
    #calcel-form,
    #filter-form {
        width: 100%;
        padding: 10px;
    }

    .mb-3 {
        width: 100%;
    }

    .container {
        padding: 10px;
    }
}

/* Para celulares grandes e tablets em modo retrato */
@media (max-width: 768px) {

    .header-barber {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        width: 100%; 
        left: 0;
        right: 0;
        height: 80px; 
        z-index: 1000; 
    }

    .header-barber.expand {
        height: 280px; 
    }

    .navbar {
        width: 100%; 
        text-align: center;
    }

    .navbar-collapse {
        /* background-color: #222; */
        width: 100%; 
    }

    .navbar-collapse.show {
        background-color: #444;
        transition: background-color 0.3s ease-in-out;
        padding: 15px;
        border-radius: 5px;
      }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .navbar-toggler {
        position: absolute;
        right: 10px; 
        top: 10px;
    }

    .nav-link {
        color: #fff !important;
        padding: 10px; 
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.8);
    }
    
    .navbar-toggler-icon {
        filter: invert(1);
    }

    .img-fixed {
        height: 400px;
    }

    .text-apresent {
        margin-top: -20px;
    }

    .content,
    .reverse-content {
        flex-direction: column;
        gap: 20px;
    }

    .img-content img,
    .img-reverse img {
        width: 100%;
        height: auto;
    }

    .image-gallery img {
        width: 280px;
        height: auto;
    }

    .carousel .text-galery h3 {
        font-size: 1.8em;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .text1-footer,
    .text2-footer {
        margin-bottom: 20px;
    }

    article {
        /* display: flex; */
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin-top: -50px;
    }

    .col-md-6 {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .container {
        padding: 20px;
        margin-top: 30px;
    }

    #booking-form,
    #calcel-form,
    #filter-form {
        width: 100%;
    }

    .mb-3 {
        width: 100%;
    }

    #message {
        margin-top: 20px;
    }
}

/* Para tablets pequenos e médios */
@media (min-width: 768px) and (max-width: 1024px) {
    .img-fixed {
        height: 500px;
    }

    .text-apresent {
        margin-top: 30px;
    }

    .content,
    .reverse-content {
        flex-direction: column;
        gap: 20px;
    }

    .img-content img,
    .img-reverse img {
        width: 450px;
        height: auto;
    }

    .image-gallery img {
        width: 300px;
        height: auto;
    }

    .carousel .text-galery h3 {
        font-size: 2em;
    }

    /* article .container {
        display: flex; 
        justify-content: center;
        flex-direction: column;
        
    } */
}
